extend ../layout

block content
    h1 #{title}
    form(method='post', action='/articles/update/'+ article._id)
        .form-group
            label Title:
            input.form-control(name='title', type='text' value=article.title)
        .form-group
            label Content:
            textarea.form-control(name='content')= article.content
        br
        input.btn.btn-primary(type='submit', value='submit' )